{% extends 'base.html.twig' %}

{% block title %} {{article.titre}} {% endblock %}

{% block body %}
<div class='container'>
     
        <h1> {{article.titre}} </h1>
        <hr>
        {{article.content |raw}}
        <h2 class="comment-title mt-5" >
                <span class="comment-count"> {{article.commentaires|length}} commentaire(s) </span>
        </h2>
        <hr> 
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="comment-area mb-5">
                {{form(commentaire_form, {'attr': {'class':'commentaire-form'}} )}}
        </div>
        
        {% endif %}
        
        <div class="comment-list">
                {% for commentaire in article.commentaires %}
                        {% include "commentaire/index.html.twig" with [commentaire] %}
                {% endfor %}
        </div>
</div>

{% endblock %}
